.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjust the height as needed */
}
.logo {
  width:100px;
  height:100px;
}
.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: yellowgreen; /* Change the color to your desired hover color */
}
.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  display:grid;
  place-items: center;
  /* Add your desired styles for the footer */
}
.footer-p{
  margin-bottom: 0;

}
