*{
max-width: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
}
.logo {
  width:100px;
  height:100px;
}
.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: yellowgreen; 
}


.footer {

  position: absolute;
  bottom: 0;
  width: 100%;
  display:grid;
  place-items: center;

}
.footer-p{
  margin-bottom: 0;

}

.cart-icon {
  position: fixed;
  right: 20px;
  bottom: 60px;
  cursor: pointer;
  z-index: 10;
}

.cart-overlay {
  position: fixed;
  right: 20px;
  bottom: 120px;
  width: 300px;
  background: #f8f9fa;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.close-cart-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.2em;
}

.cart-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-total {
  text-align: right;
  font-weight: bold;
}
.card {
  padding: 10px;
  margin: 10px;
}
.card-img-top {
  width: 100%;
  height: auto;
}
.increment-btn {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border: none;
  cursor: pointer;
  margin-left:10px;
}
.decrement-btn {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  border: none;
  cursor: pointer;
  margin-right:10px;
}


.increment-btn, .decrement-btn {
  margin: 0 5px;
}
.check-out, .clear-cart-btn {
  background-color: rgba(22, 23, 23, 0.1);
  color: black;
  border: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.clear-cart-btn {
  background-color: red;
}
.clear-cart-btn:hover {
  color:white;
}
.check-out:hover {
  color:white;
}
.card-img-top {
  height: 200px; /* Adjust the desired height */
  object-fit: cover;
}

.menu-content{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; 
}

.progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 25%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.progress-bar {
  height: 30px;
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar span {
  width: var(--progress); /* You will set this variable in JavaScript */
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-confirmation h2,
.order-confirmation h3,
.order-confirmation h4,
.order-confirmation p,
.order-confirmation ul {
  text-align: center;
}
.order-list {
  list-style-position: inside;
}

